header {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 50px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  
    
}

section {
    display: flex;
}